.navbar-bg-black{
  background-color: #343a40!important;
}

.navbar-header-text{
  color: #fff;
  font-size: 18px;
}

.navbar-toggler-icon{
  background-color: cornsilk;
}

.main-nav{
  font-size: 21px;
}

[role=main]{
  padding-top: 14px !important;
}

/* .container-fluid{
  margin-top: 62px;
} */

.cp{
  cursor: pointer;
}

.country{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 17px 28px;
  background-color: #2092ed;
  margin: 10px 0;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 1s;
}

.country:hover{
  box-shadow: 0 13px 11px 0 rgba(0,0,0,0.2);
}

.highly-affected{
  margin: 15px 0;
}

.country-list{
  padding-left: 15px;
  padding-right: 15px;
}

.top-country-list{
  text-align: center;
  line-height: 40px;
}

.cases{
  font-size: 15px;
  padding: 10px 0;
  font-size: x-large;
  font-family: inherit;
}

.country-title {
  border-bottom: 2px solid blue;
  padding: 2px 0;
}

.card-data{
  color: #ffff;
  background: #000000;
  box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 10px 10px 0px rgba(0,0,0,0.75);
  margin: 7px 0;
  cursor: pointer;
}

.confirmed{
  background: #ffc107;
}

.death{
  background: #dc3545;
}

.recover{
  background: #28a745;
}

.input-search-box{
  margin: 10px 0;
  padding: 0px 15px;
}

.country-name{
  font-weight: 700;
  font-size: 18px;
}

.total-confirmed{
  font-weight: 900;
  color: lightblue;
}


.full-width-sidebar{
  width: 100%;
}

.link{
  color: transparent !important;
}


.country-info{
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
  font-family: unset;
  font-weight: 900;
}

.single-country-death{
  background-color: rgba(255,79,79,.2);
}

.single-country-death h5{
   color: #ff4f4f;
}


.single-country-recovered{
  background-color: rgba(0,189,133,.2);
}
.single-country-recovered h5{
  color: #00bd85;
}

.single-country-confirmed{
    background-color: rgba(37,127,249,.2);
}

.highly-affected-data{
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.highly-affected-data:hover{
  -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
     transform: scale(1.1);
}

.single-country-confirmed h5{
  color: #257ff9;;
}

.single-country-name{
  text-align: center;
  margin: 20px;
  font-weight: 700;
  font-size: 32px;
}

.no-record{
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 300;
}

.entered-string{
  font-weight: 500;
}

.whole-page-consider{
  opacity: 0.3;
}

.full-country-info{
  margin-top: 67px;
}

.about-info{
  padding-top: 20px;
  text-align: center;
}

.about-container{
  background-color: #445175;
  border-radius: 22px;
}

.about-jumbo{
  margin-bottom: 0px !important;
  border-radius: 46px;
  padding-top: 10px;
  padding-bottom: 1px
}

.about-heading{
  font-size: 23px;
}

.bbc-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corna-precaution{
  margin-top: 37px;
  text-align: center;
 
}
.corna-title{
  font-size: 20px;
}

.card-precautions-body{
  background-color: rgba(0,189,133,.2);
  color: #00bd85;
  font-weight: 800;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.card-precautions-body:hover{
    -webkit-box-shadow:  -4px 1px 7px -3px rgba(0,0,0,0.75);
    -moz-box-shadow:  -4px 1px 7px -3px rgba(0,0,0,0.75);
    box-shadow: -4px 1px 7px -3px rgba(0,0,0,0.75);
}

/* Spinner */
.loader,
.loader:before,
.loader:after {
  background: #8080c0;;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #8080c0;;
  text-indent: -9999em;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }  
}
  
  /* Responsive Designing */
  
  @media (max-width: 768px) {
    .show-sidebar{
      display: none;
    }
  
    .single-country-name{
      font-size: 28px;
    }

    .extra-info{
      display: none;
    }

    .center-content{
      display: contents;
    }
    .navbar-nav{
      margin-top: 14px;
    }
  }
  
  @media (min-width: 769px){
    .highcharts-data{
      width: 70%;
      margin: 0 auto;
    }
    .extra-info{
      display: flex;
    }
    .precaution{
      margin-right: 27px;
    }
    .about-precaution{
      display: none;
    }
    .side-space{
      margin-left: 30px;
    }

    .show-search{
      display: none;
    }
  }